html{
    scroll-behavior: smooth;
}

nav ul{
    list-style-type: none;
 
      
}
    
nav li{
    display: inline;
    padding-right: 20px;    
}

nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 22px;
    padding-bottom: 2px;
    align-items: baseline;
    position: fixed ;
    width: 100%;
    overflow: hidden;
    top: 0;
    background-color: white;
}

.nav-bar{
    border-bottom: 1px gray solid;
    padding-right: 30px;  
    padding-left: 30px; 
}

nav .name{
    font-family: 'Volkhov', serif;
    font-weight: bold;
    font-size: 32px;
}

h1 {
    font-weight: bold;
    font-size: 24px; 
    padding-bottom: 20px;
    padding-top: 20px;
}

h2 {
    /* font-weight: bold; */
    font-size: 18px; 
    padding-bottom: 20px;
    padding-top: 10px;
}

.nav-links {
    font-size: 18px;
}

a{
    font-family: Arial;
    color: black;
}

.news a, .teaching a, .videos a, .about-right a{
    font-family: Arial;
    color: black;
    font-style: italic;
}

a:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(201, 201, 206);

}

main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}

.about-left{
    display: flex;
    flex-direction: column;
}

.about-left ul{
    list-style: none;
}

.about-left ul li{
    display: inline;
}

.about-left ul li img{
    width: 32px;
    height: auto;
}
.about-left div{
    padding-top: 6px;
}

.about{
    display: flex;
    flex-direction: row;
}

#rotator{
    width: 260px;
    height: auto;
}

.about .about-left{
    text-align: center;
}

.about .about-right{
    padding-left: 40px;
    padding-top: 10px;
    text-align:left;
    font-size: 20px;
    align-self: center;
    /* font-family: 'Padauk', sans-serif; */
}


main{
    margin: 100px;
    padding: 1% 15%;
    font-size: 18px;
}

.about-left img{
    width: 260px;
    height: auto;
}

.chinese_name {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 36px;
    padding-bottom: 0px;
}

.footer{
    text-align: center;
    font-size: 16px;
    color: #0000008A;
}

.projects img{
    width: 280px;
    height: 180px;
    grid-column: 1/span 1;
}


.projects ul{
    list-style: none;
}

.projects li{
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.proj-intro{
    grid-column: 2/-1;
    padding-left: 20px;
    align-self: center;
}

.intro-title{
    font-style: italic;
}

.about-left a, .projects a{
    font-size:16px;
}

.proj-intro p, .proj-intro a{
    margin-bottom: 8px;
}

.single-video img{
    width: 260px;
    height: 180px;
    border: 1px solid #555;
    
}

.single-video img:hover{
    transition:.1s;
    box-shadow: 5px 5px 20px #888888;
}

.single-video p{
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}



.single-video{
    margin-right: 24px;
    margin-bottom: 8px;
}

.playlist{
    padding-top: 28px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}




@media screen and (max-width: 1700px){
    main{
        margin: 200px;
        padding: 0% 0%;
        margin-top: 100px;
        padding-left: 40px;
    }

}


@media screen and (max-width: 1460px){
    nav ul a{
        font-size: 18px;
    }

    nav{
        flex-wrap: wrap;
    }

    .nav-links{
        width: 100%;
        text-align: center;
    }

    main{
        margin: 0px;
        padding: 100px;
        padding-top : 0;
        margin-top: 140px;
        margin-left: 36px;
        margin-right: 28px;   
    }
    .about{
        flex-direction:column;
    }

    .playlist{
        grid-template-columns: 1fr 1fr 1fr;
    }
} 



@media screen and (max-width: 1100px){
    .projects li{
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        
    }

    .projects img{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        padding-top: 28px;
    }
}

@media screen and (max-width: 900px){
    main{
        margin: 0px;
        margin-top: 140px;
        padding: 40px; 
        padding-top : 0px;
    }
}

/* @media screen and (max-width: 700px){
    .playlist{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    .playlist{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
} */